@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
body {
    background-color: #242424;
}
.codeArea {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: white;
    background-color: #242424;
    outline: none;
    resize: none;
}
.codeArea:focus {
    outline: none;
}
.tabLink {
    outline: none;
    border: 1px firebrick solid;
    color: firebrick;
}
.tabLink a {
    text-decoration: none;
    color: black;
}
.tabLink a:hover {
    outline: none;
    text-decoration: none;
    border: 1px firebrick solid;
    background-color: firebrick;
    color: white;
    transition: 0.2s;
}
.tabLink:hover {
    outline: none;
    text-decoration: none;
    border: 1px firebrick solid;
    background-color: firebrick;
    color: white;
    transition: 0.2s;
}
