@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
body {
    background: rgb(36, 36, 36);
}
.welcome-text {
    font-family: 'Saira Condensed';
    font-size: 48px;
    color: #f2f2f2;
    margin-top: 200px;
    text-align: center;
    user-select: none;
}
.open-file-text {
    font-family: 'Saira Condensed';
    font-size: 24px;
    color: #f2f2f2;
    margin-top: 15px;
    text-align: center;
    user-select: none;
}
.LogSignin {
      outline: none;
      border: 1px firebrick solid;
      color: firebrick;
      margin-top: 10px;
}

.LogSignin:hover {
    outline: none;
    text-decoration: none;
    border: 1px firebrick solid;
    background-color: firebrick;
    color: white;
    transition: 0.2s;
  }
